<div class="row">
  <div class="col-md-3">
    <ngx-status-card [title]="'Total View'" [number]="listData && listData[0]">
    </ngx-status-card>
  </div>
  <div class="col-md-3">
    <ngx-status-card [title]="'Total Money'" [number]="listData && listData[1]">
    </ngx-status-card>
  </div>
  <div class="col-md-3">
    <ngx-status-card [title]="'Total Order'" [number]="listData && listData[2]">
    </ngx-status-card>
  </div>
  <div class="col-md-3">
    <ngx-status-card [title]="'Total User'" [number]="listData && listData[3]">
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Income Last 5 month</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>User Total Money</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Movie View Count</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>